11. Data Normalization

Memperbaiki data yang tidak normal. Data  yang tidak normal adalah data yang memiliki rentan skala yang berbeda, misalkan ada variabel umur yang memiliki  skala  1-100, lalu ada variabel gaji yang memiliki data  dengan skala jutaan. atribut atau variabel umur dan gaji memiliki rentang skala yang berbeda, sehingga jika dihubungkan maka rentang datanya tidak normal karena perbedaan skala tadi. Kenapa perlu normalisasi data?, karena data dengan skala yang berbeda dan terlampau besar itu akan memberatkan komputasi dan menghambat machne learning, sehingga perlu  untuk dinormalisasi menjad skala 0-1.
Ada beberapa pilihan untuk melakukan normalisasi data :
1. Simple Feature Scaling
2. Rescaling (MinMax Normalizatition)
3.  Mean Normalization 
4.  Standarddization (Z-Score Normalization)
Berikut merupakan beberapa opsi normalisasi yang akan dipraktikan:

In [11]:
# a. Data Normalization MinMax (perlu library scikit learn) 
import pandas as pd  # mengatur dataset menjadi data frame (df, istilah yang mirip dengan row, column dalam excel) agar rapih seperti tampilan excel
import numpy as np   #
import seaborn as sns # library visualisai
import matplotlib.pyplot as plt # library visualisai
%matplotlib inline
sns.set(color_codes=True)

                      
               
from sklearn.preprocessing import MinMaxScaler
print("Berhasil import library!")

Berhasil import library!

In [12]:
df = pd.read_csv('../data/spf.csv')


# disini saya menggunakan data yang sudah bbersih dari duplikat dan missing value melanjutkan dari data yang sudah dibersihkan di proese sebelumnya. sebenarnya bisa saja mengambil data kotor dengan memangggil data set awal jangan data set yang bersih.
# Karena proses sebelumnya sudah simpan data bersihnya menjadi sebuah file yang nanti dipanggil lagi di file baru, filenya bisa dalam bentuk csv lagi atau bentuk lain entah .pickle atau .parquet (intall librarynya dulu pyarrow) dengan mengetik kode pada akhir proses 

# df_clean.to_pickle('data_bersih.pkl') -->df.clean : nama file yang sudah dilakukan pembersihan, to_pickle : eksport jadi file dengan format pickle.

In [13]:
df.dtypes

Hours_Studied                  int64
Attendance                     int64
Parental_Involvement          object
Access_to_Resources           object
Extracurricular_Activities    object
Sleep_Hours                    int64
Previous_Scores                int64
Motivation_Level              object
Internet_Access               object
Tutoring_Sessions              int64
Family_Income                 object
Teacher_Quality               object
School_Type                   object
Peer_Influence                object
Parental_Education_Level      object
Distance_from_Home            object
Gender                        object
Exam_Score                     int64
dtype: object

In [14]:
df.describe()

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Exam_Score
count,6378.000000,6378.000000,6378.000000,6378.000000,6378.000000,6378.000000
mean,19.977109,80.020853,7.034964,75.066165,1.495296,67.252117
std,5.985460,11.550723,1.468033,14.400389,1.233984,3.914217
min,1.000000,60.000000,4.000000,50.000000,0.000000,55.000000
25%,16.000000,70.000000,6.000000,63.000000,1.000000,65.000000
50%,20.000000,80.000000,7.000000,75.000000,1.000000,67.000000
75%,24.000000,90.000000,8.000000,88.000000,2.000000,69.000000
max,44.000000,100.000000,10.000000,100.000000,8.000000,101.000000

In [15]:
scaler = MinMaxScaler()
scaled = scaler.fit_transform(df[['Sleep_Hours', 'Exam_Score']])
print (scaled)


# deskripsi kode 

# MinMaxScaler bekerja dengan rumus:
# 
# X scaled = (X-Xmin)/Xmax-Xmin
# 
# Untuk setiap kolom yang diberikan:Nilai terendah (X_min) di kolom itu akan diubah menjadi 0.Nilai tertinggi (X_max) di kolom itu akan diubah menjadi 1.Semua nilai lain di antaranya akan diskalakan secara proporsional antara 0 dan 
# 
# Penjelasan Baris per Baris :
# from sklearn.preprocessing import MinMaxScaler : import class (cetakan) MinMaxScaler dari library scikit-learn
# .scaler = MinMaxScaler() : membuat sebuah objek (instance) dari scaler tersebut. Anggap saja ini sebagai "mesin" penskalaan yang masih baru dan belum melihat data df.
# scaled = scaler.fit_transform(df[['Sleep_Hours', 'Exam_Score']])Ini adalah baris terpenting yang melakukan dua hal dalam satu langkah 
#   (fit_transform):.fit() (Mempelajari): Pertama, scaler akan "melihat" data (df[['Sleep_Hours', 'Exam_Score']]). Ia akan mencari dan mencatat nilai minimum dan maksimum untuk Sleep_Hours, dan nilai minimum dan maksimum untuk Exam_Score secara terpisah.
#   .transform() (Menerapkan): Segera setelah "belajar", scaler akan menerapkan rumus di atas ke setiap nilai di kedua kolom tersebut, mengubahnya menjadi rentang [0, 1]. Hasilnya disimpan dalam variabel scaled.
# print(scaled)Ini akan mencetak hasil dari scaled. Penting untuk dicatat: scaled bukan lagi DataFrame pandas, melainkan sebuah NumPy array.

[[0.5        0.26086957]
 [0.66666667 0.13043478]
 [0.5        0.41304348]
 ...
 [0.33333333 0.2826087 ]
 [0.33333333 0.2826087 ]
 [0.83333333 0.19565217]]

In [16]:
# atribut sleep hours dan exam score sudah memiliki skala yang sama dengan minimal 0 dan maximal 1, bisa kita buktikan dengan mencoba mendescribe atribut ysang sudah ditransform

# 1. Ambil nama kolom yang coba didescribe
kolom = ['Sleep_Hours', 'Exam_Score']

# 2. Ubah array 'scaled' kembali menjadi DataFrame
scaled_df = pd.DataFrame(scaled, columns=kolom)

# 3. Gunakan .describe() untuk melihat ringkasan statistik
print(scaled_df.describe())

       Sleep_Hours   Exam_Score
count  6378.000000  6378.000000
mean      0.505827     0.266350
std       0.244672     0.085092
min       0.000000     0.000000
25%       0.333333     0.217391
50%       0.500000     0.260870
75%       0.666667     0.304348
max       1.000000     1.000000

In [17]:
# iyap sudah normal baik atribut sleep hours dengan exam score sudah memiliki skala yang sama 0-1

In [18]:
# b. Data Standardization (membuatuhkan library sklearn dengan method StandardScaler)

from sklearn.preprocessing import StandardScaler

In [19]:
std_scaler = StandardScaler()  
std_scaled = std_scaler.fit_transform(df[['Sleep_Hours', 'Exam_Score']])
print (std_scaled)

# penjelasan kodenya sama hanya penggunaan classnya saja yang berbeda, kalau minmax normallization pakai minmaxScaler sedangkan Z-Score atau Standardization pakai StandardScaler.

[[-0.02381873 -0.06441555]
 [ 0.65741834 -1.59740955]
 [-0.02381873  1.72407745]
 ...
 [-0.70505581  0.19108345]
 [-0.70505581  0.19108345]
 [ 1.33865542 -0.83091255]]